<!DOCTYPE html>
<html>
<head>
    <title>Trello Scheduled</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
    
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

    <style type="text/css">
        .app-contain {
            padding-top:60px;
        }
        .footer {
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <div class="container app-contain">
    {% block content %}{% endblock %}
    </div>
    <div class="footer text-center">
        <hr />
        <a href="#">Privacy Policy</a>&nbsp;&nbsp;&nbsp;
        <a href="#">Contact</a>&nbsp;&nbsp;&nbsp;
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('IndexView:logout')}}">Logout</a>
        {% endif %}
    </div>
</body>
</html>
